.table-container {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin: 3rem auto 0 auto;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header {
  display: flex;
  background-color: var(--color-secondary);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
}

.title {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.title:not(:last-child) {
  border-right: 2px solid var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.row {
  background: var(--color-background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-primary);
}

.last-row {
  border-bottom: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.cell {
  margin-left: 2rem;
  flex: 1;
  padding: 15px;
  display: flex;
  gap: 0.5rem;
}

.cell:not(:last-child) {
  border-right: 2px solid var(--color-primary);
}
